@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

.nav-buttons a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-buttons a:hover {
  background-color: #666666;
  color: white;
}

.logout-button {
  display: inline;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  background-color: #333333;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #666666;
  color: white;
}

.nav_footer{
  padding: 1rem 2rem;
  background-color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 13px;
}
.footer_address{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5vh 0;
}
.address-box dl{
  display: inline-block;
  vertical-align: top;
  margin-right: 10vw;
}
