/* .header {
    width: 100%;
    position:relative;
  top: 2vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-nav {
    font-family: 'Playfair Display', serif;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 40px;
    height: 3vw;
    font-size: 1.4em;
    background-color: rgba(44, 44, 44, 0.95);
    color: #fff;
    backdrop-filter: blur(4px);
}

.header-logo {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.header-cancel {
    position: absolute;
    width: 15%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    top: 12vh;
    right: 3.8vw;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #6c6c6c;
    font-size: 1.7vh;
    transition: 0.3s;
    cursor: pointer;
}

.header-cancel:hover {
    box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
 */
