@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.home {
    text-align: center;
    position: relative;
    height: calc(100vh - 64px);
    background-image: url('/home.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.home-left {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 17%;
}

.home-phrase-main {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    margin: 0;
    text-align: center;
}

.home-phrase-sub {
    color: white;
    font-size: 1.5rem;
    margin: 20px 0 0 0;
    text-align: center;
}

.home-right {
    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-right p {
    color: white;
    font-size: 1.1rem;
    margin: 0;
    line-height: 1.8;
    white-space: pre-line;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}