/* CalendarSection */
.calendarBox {
    padding: 1.5vw;
    border: 1px solid #6c6c6c;
    border-radius: 10px;
}

.datepick-ui {
    height: 250px;
    display: flex;
    flex-direction: column;
}

.datepick-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.8vw;
    border-bottom: 1.5px solid #000;
}

.change-month {
    font-size: 1.6vw;
    cursor: pointer;
}

.current-month {
    font-weight: bold;
    font-size: 2.3vh;
}

.datepick-date {
    width: 100%;
    flex: 1;
    margin-top: 1.3vh;
    text-align: center;
}

.datepick-date th {
    font-weight: bold;
    padding: 0.4vw;
    font-size: 0.9em;
}

.datepick-date td {
    padding: 0.4vw;
    font-size: 0.9em;
}

.datepick-date td.disabled {
    color: #b7b7b7;
}

.datepick-date td.disabled:hover {
    background-color: #f6f5f5;
}

.datepick-date td:hover {
    background-color: #e0e0e0;
}

.gotoSeatSelcet {
    background-color: #a52a4d;
    padding: 12px 0;
    border: 1px solid #808080;
    border-radius: 10px;
    font-size: 2.3vh;
    color: #fff;
}

.gotoSeatSelcet:hover {
    background-color: #8b1e3f;
}