/* InformationInputPage */
.main {
    padding: 5vw 4vw;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.7vw;
    position: relative;
}

.main-step {
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.main-explain {
    width: 50vw;
    height: 30vw;
}

.main-date-time {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.inputpage_theme {
    line-height: 1.4;
    font-size: 0.9rem;
    color: #333;
    padding: 0 20px;
    margin: 0;
}

.inputpage_theme span {
    font-weight: 700;
    color: #bc2222;
    font-size: 1.3vw;
}

.Inputform {
    display: flex;
    flex-direction: column;
    gap: 1.3vh;
    justify-content: space-between;
    height: 100%;
    padding: 1.5vw;
    border: 1px solid #6c6c6c;
    border-radius: 10px;
}

.Inputform>div:not(:last-child) {
    display: flex;
    gap: 2vw;
    height: 100%;
    align-items: center;
}

.inputform_left {
    width: 25%;
    min-width: 50px;
    font-weight: 800;
}

.inputform_right {
    width: 100%;
}

.Inputform_phone input {
    margin: 0 1.1vw;
    width: 40px;
    text-align: center;
}

.Inputform_phone input:first-child {
    margin-left: 0;
}

.inputform_right input {
    box-shadow: 0 0 0.4vw 0 rgba(0, 0, 0, 0.226);
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.Inputform_guest select {
    box-shadow: 0 0 0.4vw 0 rgba(0, 0, 0, 0.226);
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 60%;
    text-align: center;
}

.Inputform .gotoSeatSelcet {
    width: 100%;
    padding: 12px;
    background-color: #a52a4d;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Inputform .gotoSeatSelcet:hover {
    background-color: #8b1e3f;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    box-shadow: 0 0 0.7vw 0.3vw rgba(0, 0, 0, 0.226);
    border-radius: 10px;
    background-color: #fff;
    z-index: 100;
}

.popup_header p {
    text-align: center;
    font-weight: 800;
    font-size: 2.5vh;
    margin-top: 0;
}

.popup-close {
    display: block;
    width: 30px;
    height: 30px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup_content {
    background-color: #ececec;
    width: 35vw;
    padding: 20px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.popup_resturant {
    font-size: 2vh;
    font-weight: 600;
}

.popup_confrim {
    border-bottom: 1px solid #000;
    padding-bottom: 2vh;
}

.popup_name,
.popup_date,
.popup_table,
.popup_price {
    display: flex;
    justify-content: space-between;
    padding: 0 1.3vw;
}

.popup_price p {
    margin: 0;
}

.popup_price p:nth-child(2) {
    color: red;
    font-weight: 600;
}